html, body{
    scroll-behavior: smooth;
    margin: 0;
}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}